.form__input {
    height: 27px;
    width: 100%;
    padding: 0 0 13px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: none;
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.form__input:last-of-type {
    margin-bottom: 0;
}

