.places__like {
    display: inline-block;
    vertical-align: top;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    height: 19px;
    width: 22px;
    transition: all 0.3s;
    background-image: url(../../../image/like.svg);
}

.places__like:hover {
    opacity: 0.5;
}