.form__submit {
    width: 100%;
    background: #000000;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    padding: 14px 0 14px;
    transition: all 0.3s;
    color: #fff;
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 48px;
    border: 1px solid transparent;
}

.form__submit:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
    .form__submit {
        font-size: 14px;
        line-height: 1.21;
    }
}
