.profile__text-name {
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 1.14;
    color: #fff;
    margin: 0 0 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .profile__text-name {
        font-size: 27px;
        line-height: 1.22;
        margin: 0 0 9px 0;
    }
}
